<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field appearance="outline">
      <input
      matInput
      name="name"
      ngModel
       placeholder="Enter your name"
       required
       minlength="4"
       #name="ngModel"
        />
        <mat-error *ngIf="name.invalid">PLease enter your name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <textarea
       matInput
       rows="6"
       ngModel name="content"
       placeholder="Enter your post description"
       required
       #content="ngModel"> </textarea>
       <mat-error *ngIf="content.invalid">Please describe your post</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save Post
    </button>
  </form>
</mat-card>

<br>

<marquee style="color: yellow;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit deserunt soluta, pariatur provident laudantium sequi, maxime modi suscipit ratione harum beatae. Repudiandae error eum minus numquam. Nesciunt, soluta. Reiciendis, sunt.</marquee>
